@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Stick+No+Bills:wght@800&display=swap");
* {
  padding: 0%;
  margin: 0%;
  background-color: rgb(214, 214, 214);
}

header {
  grid-area: header;
}
.navbar-brand{
  width: 150px;
}
.collapse{
  padding-left: 17em;
}

a {
  color: rgb(100, 60, 11);
}

.nav-link {
  color: rgb(100, 60, 11);
}


h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  width: 100%;
  padding: 3px;
  text-align-last: center;
  color: rgb(100, 60, 11);
  background-color: rgb(158, 158, 158);
}
h2{
  font-family: "Libre Franklin", sans-serif;
  font-size: 15px;
  text-align: center;
}


h4 {
  font-family: "Libre Franklin", sans-serif;
  font-size: small;
  font-weight: bold;
  color: rgb(100, 60, 11);
  text-align: center;
}



label {
  background-color: rgb(158, 158, 158);
  padding: 5px;
  border-radius: 20px;
}

.btn{
  background-color: rgb(100, 60, 11);
}

input {
  background-color: white;
}

textarea {
  background-color: white;
}

.carousel {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
  
  
}
body{

  position: relative;
  min-height: 100vh;
  padding-bottom: 5em;
  background-color: rgb(214, 214, 214);
}

.pie {
  grid-area: pie;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}


.video {
  grid-area: video;
  width: auto;
  background-color: black;
  padding: 2em;
  margin: auto;
}

.parrafo {
  grid-area: parrafo;
  margin: auto;
  width: auto;
  color: rgb(100, 60, 11);
}


.imagenServicioTecnico{
  grid-area: imgst;
  padding: 2em;
  
}
.pservicioTecnico{
  grid-area: pst;
  color: rgb(100, 60, 11) ;
  padding: 2em;
  width: 30em;
}
.imagenCamaras{
  grid-area: imgcam;
  padding: 2em;
}
.pcamaras{
  grid-area: pcam;
  color: rgb(100, 60, 11) ;
  width: 20em;
  padding: 2em;
}
.imagenInsumos{
  grid-area: imginsumos;
  padding: 2em;

}
.pinsumos{
  grid-area: pinsumos;
  color: rgb(100, 60, 11) ;
  width: 20em;
  padding: 2em;
}

.categoria{
  height: 50px;
  
  
  text-align: center;
}

.sonido {
  grid-area: sonido;
  padding: 20px;
}

.insumos {
  grid-area: insumos;
  padding: 20px;
}

.notebook {
  grid-area: note;
  padding: 20px;
}

.impresoras {
  grid-area: imp;
  padding: 20px;
}

.productos {
  display: flex;
  justify-content: center;
 
}

.formulario {
  width: 500px;
  padding: 20px;
  border: 20px;
}

.enviar {
  background-color: rgb(100, 60, 11);
  padding: 5px;
  border-radius: 20px;
}

.borrar {
  background-color: rgb(100, 60, 11);
  padding: 5px;
  border-radius: 20px;
}

.datos {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.imagen, .imagencat{
  height: 3em;
  border-radius: 10em;

}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 25px;
}

.gal {
  padding: 5px;
  background-color: rgb(100, 60, 11);
}

@media (max-width: 768px) {
  .tel{
    display: none;
  }
  .direccion {
    display: none;
  }
  .mail {
    display: none;
  }
  h4 {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .parrafos {
    display: none;
  }
}
.productos {
  display: grid;
  grid-template-areas: "sonido  insumos" "note  imp";
}



.nosotros {
  display: grid;
  padding: 1em;
  margin: auto;
  grid-template-areas: "video" "parrafo";
}
.pservicioTecnico2{
  grid-area: ps2;
}
.pcamaras2{
  grid-area: pcam2;
}
.pinsumos2{
  grid-area: pinsumos2;
}

.stecnico{
  padding: 2em;
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-column: 1fr;
  grid-template-areas: 
  "ps2"
  "imgst"
  "pcam2"
  "imgcam"
  "pinsumos2"
  "imginsumos" ;
}

@media (min-width: 768px) {
  .stecnico{
    padding: 2em;
    display: grid;
    align-items: stretch;
    justify-items: center;
    grid-column: 1fr 1fr;
    grid-template-areas: 
    "imgst pst"
    "pcam imgcam"
    "imginsumos pinsumos" ;
  }
  
  .productos {
    display: grid;
    grid-template-areas: "sonido  insumos note  imp";
  }
  .video {
    margin: 0%;
    width: 530px;
  }
  .parrafo {
    width: 20em;
  }
  .nosotros {
    display: grid;
    /*width: auto;
    height: auto;*/
    padding: 1em;
    margin: auto;
    grid-template-areas: "video parrafo";
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 25px;
  }
  .pservicioTecnico2, .pcamaras2, .pinsumos2{
    display: none;
  }

}/*# sourceMappingURL=estilos.css.map */
/*animaciones*/
.nav-link:hover{
  transform: scale(1.2);
  background-color:rgb(158, 158, 158);
}
.imagencat:hover{
  transform: scale(1.2);
  background-color:rgb(100, 60, 11);
}
