@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Stick+No+Bills:wght@800&display=swap');

*{
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.nav-link{
   color: rgb(100, 60, 11);
   
}
.nav{
   display: flex;
   justify-content:center;
}

a{
   color: rgb(100, 60, 11);
}
.carousel-item{
   text-align: center;
}



header{
   grid-area: header;
   background-color: rgb(100, 60, 11);
}



h1{
   font-family: 'Libre Franklin', sans-serif;
    font-size: 55px;
    width: 100%;
    padding: 20px;
    text-align-last: center;
    color: rgb(100, 60, 11);
    background-color: black;
    
 }


 h4{
   
   font-family: 'Libre Franklin', sans-serif;
   font-size: small;
   font-weight: bold;
   background-color: rgb(100, 60, 11);
   color: black;

 }

 .video{
   grid-area: video;
   width: auto;
   background-color: black;
   padding: 2em;
   margin: auto;
   
 }
 .parrafo{
   grid-area: parrafo;
   margin: auto;
   width:auto;
   color: rgb(100, 60, 11);
 }


 .sonido{
   grid-area: sonido;
   height: 100px;
   background-color: rgb(100, 60, 11);
   border: 5px solid black;
   border-radius: 40px;
   text-align: center;
   
 }
 .insumos{
   grid-area: insumos;
   height: 100px;
   background-color: rgb(100, 60, 11);
   border: 5px solid black;
   border-radius: 40px;
 }
.notebook{
   grid-area: note;
   height: 100px;
   background-color: rgb(100, 60, 11);
   border: 5px solid black;
   border-radius: 40px;
}
.impresoras{
   grid-area: imp;
   height: 100px;
   background-color: rgb(100, 60, 11);
   border: 5px solid black;
   border-radius: 40px;
}
.productos{
   display: flex;
   justify-content: center;

}

.formulario{
   width: 500px;
}


@media(max-width:768px){
   .tel{
      display: none;
       /* height: 4em;
         background-color: rgb(100, 60, 11) ;
      border: 1em solid black;
      border-radius: 10em;*/

      }
      .direccion{
         display: none;
         /*height: 4em;
         background-color: rgb(100, 60, 11) ;
         border: 1em solid black;
         border-radius: 10em;*/

      }
      .mail{
         display: none;
         /*height: 4em;
         background-color: rgb(100, 60, 11) ;
         border: 1em solid black;
         border-radius: 10em;*/

      }
      h4{
         display: none;
      
       }
       .navbar-brand{
         display: none;
       }
}

.datos{
   height: 4em;
   background-color: rgb(100, 60, 11) ;
   border: 1em solid black;
   border-radius: 10em;
}

.productos{
   display: grid;
   grid-template-areas:
   "sonido  insumos"
   "note  imp";
   
 }
 .pie{
   grid-area: pie;
   display: flex;
   flex-direction: row;
   background-color: rgb(100, 60, 11);
   border-top: 2em solid black;
   justify-content: center;



}

.nosotros{
   display: grid;
   /*width: auto;
   height: auto;*/
   padding: 1em;
   margin: auto;
   
   grid-template-areas: 
   "video"
   "parrafo"
   ;
}


@media (min-width:768px){
   .productos{
      display: grid;
      grid-template-areas:
      "sonido  insumos note  imp";
      
    }
    .video{
      margin: 0%;
      width: 530px;
    }

    .parrafo{
      width: 20em;
      
    }

    .nosotros{
      display: grid;
      /*width: auto;
      height: auto;*/
      padding: 1em;
      margin: auto;
      grid-template-areas: 
      "video parrafo";
    }
}
   




.formulario{
   padding: 20px;
   border: 20px;
}

label{
   background-color: rgb(100, 60, 11);
   padding: 5px;
   border-radius: 20px;
}
input{
   background-color: white;
}
textarea{
   background-color: white;
}
.enviar{
   background-color: rgb(100, 60, 11);
   padding: 5px;
   border-radius: 20px;
}
.borrar{
   background-color: rgb(100, 60, 11);
   padding: 5px;
   border-radius: 20px;
}
/*ANIMACIONES
.inicio{
   width: 140px;
   height: 70px;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
   
   
}

.produ{
   width: 140px;
   height: 70px;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
 
   
}
.servicios{
   width: 140px;
   height: 70px;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
   
   
}
.nosotros{
   width: 140px;
   height: 70px;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
   
   
}
.contacto{
   width: 140px;
   height: 70px;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
   
   
}
.inicio:hover{
   transform: scale(1.2);
   background-color:rgb(201, 140, 65) ;
}
.produ:hover{
   transform: scale(1.2);
   background-color:rgb(201, 140, 65) ;
}
.servicios:hover{
   transform: scale(1.2);
   background-color:rgb(201, 140, 65) ;
}
.nosotros:hover{
   transform: scale(1.2);
   background-color:rgb(201, 140, 65) ;
}
.contacto:hover{
   transform: scale(1.2);
   background-color:rgb(201, 140, 65) ;
}